services:
  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "5672:5672"
      - "15672:15672"
      - "5552:5552"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
      - ./rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf:ro
    command: >
      bash -c "
        rabbitmq-plugins enable rabbitmq_stream &&
        rabbitmq-server
      "
      
    networks:
      - pms-network

    healthcheck:
      test: ["CMD-SHELL", "rabbitmq-diagnostics -q ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  postgres:
    image: postgres:16
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: pms
      POSTGRES_PASSWORD: pms
      POSTGRES_DB: pmsdb
    volumes:
      - pgdata:/var/lib/postgresql/data

    networks:
      - pms-network

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U pms -d pmsdb"]
      interval: 5s
      timeout: 5s
      retries: 5

  simulation:
    build: .
    container_name: pms-simulation
    depends_on:
      rabbitmq:
        condition: service_healthy
      postgres:
        condition: service_healthy
    environment:
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_STREAM_PORT: 5552
      RABBITMQ_STREAM_NAME: trade-stream
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/pmsdb
      SPRING_DATASOURCE_USERNAME: pms
      SPRING_DATASOURCE_PASSWORD: pms

      AUTH_SERVER_URL: http://auth:8081
      API_GATEWAY_URL: http://pms-api-gateway:8080
    ports:
      - "4000:8090"
    networks:
      - pms-network

volumes:
  pgdata:
  rabbitmq_data:

networks:
  pms-network:
    external: true

