version: "3.9"

services:
  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    command: >
      bash -c "
        rabbitmq-plugins enable --offline rabbitmq_stream;
        rabbitmq-plugins enable --offline rabbitmq_stream_management;
        rabbitmq-server
      "
    ports:
      - "5672:5672"
      - "15672:15672"
      - "5552:5552"

  # simulation:
  #   build: .
  #   container_name: simulation-app
  #   depends_on:
  #     - rabbitmq
  #   environment:
  #     RABBITMQ_HOST: rabbitmq
  #   ports:
  #     - "8090:8090"
